<div class="container">
  <header class="header">
    <h1 class="header-title">Cadastro de Prédios</h1>
    <p class="header-subtitle">Gerencie todos os prédios da sua instituição</p>
    <button class="add-button" id="openModalBtn" (click)="handleAddNewBuilding()">+ Novo Prédio</button>
  </header>

  <section class="building-list">
    <div class="list-header">
      <h3 class="list-title">Prédios Cadastrados</h3>
    </div>
    <table>
      <thead>
        <tr>
          <th>Nome do Prédio</th>
          <th>Número de Andares</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody id="buildingTableBody">
        @if(buildings.length === 0) {
          <tr>
            <td colspan="3">Nenhum prédio cadastrado.</td>
          </tr>
        } @else {
           @for (item of buildings; track item) {
              <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.floors }}</td>
                <td>
                  <button class="action-btn edit-btn" (click)="handleEditBuilding(item)">Editar</button>
                  <button class="action-btn delete-btn" (click)="deleteBuilding(item.id)">Excluir</button>
                </td>
              </tr>
           }
        }

      </tbody>
    </table>
  </section>
</div>

@if (addNewBuilding === true || editMode === true) {
  <div id="roomModal" class="modal">
    <div class="modal-content">
      <h2 id="modalTitle">
        {{ editMode ? 'Editar Prédio' : 'Adicionar Novo Prédio' }}
      </h2>

      <form id="roomForm" (ngSubmit)="saveEnviorement()" #roomForm="ngForm">
        <div class="form-group">
          <label for="buildingName">Nome</label>
          <input type="text" id="buildingName" name="name" [(ngModel)]="selectedBuilding.name" required />
        </div>

        <div class="form-group">
          <label for="floors">Número de andares</label>
          <input type="text" id="floors" name="floors" [(ngModel)]="selectedBuilding.floors" required />
        </div>

        <div class="modal-buttons">
          <button type="button" class="modal-close-btn" id="closeModalBtn" (click)="closeModal()">
            Cancelar
          </button>
          <button type="submit" class="modal-save-btn">
            {{ editMode ? 'Atualizar' : 'Salvar' }}
          </button>
        </div>
      </form>
    </div>
  </div>
}
