<div class="login-container">
    <div class="logo-container">
        <img src="" alt="logo UNIFAP">
    </div>
    <h1>Cadastro</h1>
    <form (ngSubmit)="submitRegister()" method="post">
        <div class="form-group">
          <label for="name">Nome</label>
          <input type="name" id="name" name="name" placeholder="Seu Nome Completo" [(ngModel)]="name"  required>

          <ul class="errorlist field-errors">
          </ul>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="seuemail@gmail.com" [(ngModel)]="email"  required>

          <ul class="errorlist field-errors">
          </ul>
        </div>

        <div class="form-group">
          <label for="password">Senha</label>
          <input type="password" id="password" name="password" placeholder="********" [(ngModel)]="password" required>

          <ul class="errorlist field-errors">
          </ul>

        <button type="submit">Fazer Login</button>
        </div>
    </form>
    <br>
    <!-- Link para login -->
    <p>
        Já tem uma conta? <a routerLink="/login">Fazer login</a>
    </p>
</div>
