<div class="container">
  <header class="header">
    <h1>Gerenciador de Salas</h1>
    <div class="header-links">
      <a href="" class="link-secondary"
        >Cadastrar Prédio</a
      >
      <button class="add-button" id="openModalBtn" (click)="handleAddNewEnviorement()">+ Nova Sala</button>
    </div>
  </header>

  <table>
    <thead>
      <tr>
        <th>NOME DA SALA</th>
        <th>PRÉDIO</th>
        <th>ANDAR</th>
        <th>AÇÕES</th>
      </tr>
    </thead>
    <tbody id="roomTableBody">
      @if(enviorements.length === 0){
        <tr>
          <td colspan="4">Nenhuma sala cadastrada.</td>
        </tr>
      } @else {
        @for (item of enviorements; track item) {
          <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.fk_build }}</td>
            <td>{{ item.floor }}</td>
            <td>
              <button class="action-btn edit-btn">Editar</button>
              <button class="action-btn delete-btn">Excluir</button>
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>

@if(addNewEnviorement === true) {
  <div id="roomModal" class="modal">
    <div class="modal-content">
      <h2 id="modalTitle">Adicionar Nova Sala</h2>
      <form id="roomForm" method="post">
        <div class="form-group">
          <label for="roomName">Nome da Sala</label>
          <input type="text" id="roomName" name="name" required />
        </div>
        <div class="form-group">
          <label for="building">Prédio</label>
          <select id="building" name="fk_build" required>
          </select>
        </div>
        <div class="form-group">
          <label for="floor">Andar</label>
          <input type="number" id="floor" name="floor" required />
        </div>
        <div class="modal-buttons">
          <button type="button" class="modal-close-btn" id="closeModalBtn" (click)="handleAddNewEnviorement()">
            Cancelar
          </button>
          <button type="submit" class="modal-save-btn">Salvar</button>
        </div>
      </form>
    </div>
  </div>
}
