<main>
  <div class="container">
    <div class="room-card">
        <h2>Sala: {{ formattedEnviorement.name }}</h2>
        <p><strong>Prédio:</strong> {{ formattedEnviorement.fk_build }} | <strong>Andar:</strong> {{ formattedEnviorement.floor }}º</p>
        <p><strong>Capacidade:</strong> até {{ formattedEnviorement.indicated_limit }} pessoas.</p>
        <button class="btn btn-primary" id="reserve-btn" (click)="handleInitReserve()">Reservar uma Sala</button>
    </div>

    <div class="room-card">
        <h4>Minhas Reservas na Sala</h4>
        <div class="table-responsive">
            <table class="table mt-3" id="reservations-table">
                <thead class="table-light">
                    <tr>
                        <th>Data</th>
                        <th>Horários</th>
                    </tr>
                </thead>
                <tbody>
                    @if (reservations.length === 0) {
                      <tr>
                          <td colspan="2" class="no-reservations">Você não possui reservas nesta sala.</td>
                      </tr>
                    } @else {
                      @for (item of reservations; track item) {
                        <tr>
                            <td class="dateCollun">{{ item.date | myDate }}</td>
                            <td class="tags">
                              @for (hour of item.schedules; track hour) {
                                <span class="entryTimeTag">{{hour.entryTime}}</span>
                              }
                            </td>
                        </tr>
                      }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@if (initReserve === true) {
  <div class="" id="calendarModal" tabindex="-1" aria-labelledby="calendarModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <form class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="calendarModalLabel">Selecione a Data</h5>
              </div>
              <div class="modal-body">
                  <input type="date" id="datepicker" class="form-control" (change)="onDateChange($event)">
              </div>
            </form>
      </div>
  </div>
}

@if (dataHasSelected === true) {
  <div class="" id="scheduleModal" tabindex="-1" aria-labelledby="scheduleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="scheduleModalLabel">Horários disponíveis para <span id="selected-date"></span></h5>
            </div>
            <div class="modal-body">
                <form id="reservationForm">
                    <input type="hidden" id="date-to-reserve" name="date">
                    <div class="schedule-list">

                      @for (s of schedules; track $index) {
                        <div
                          class="schedule-item"
                          [class.disabled]="isReserved($index)"
                          [class.available]="!isReserved($index)"
                          [class.selected]="selectedIndexes.has($index)"
                          (click)="onScheduleClick($index)"
                        >
                          {{ s.fields.entryTime.slice(0,5) }} - {{ s.fields.exitTime.slice(0,5) }}
                        </div>
                      }
                    </div>
                    <div id="form-error" class="alert alert-danger mt-3 d-none"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="saveReservationBtn" (click)="saveReservation()">Salvar Reserva</button>
            </div>
        </div>
    </div>
</div>
}
</main>
