<aside class="sidebar" id="sidebar">
  <img src="unifapBranca.svg" alt="logo UNIFAP" />
  <br />
  <!-- name -->
  <h3>Sistema de Reserva</h3>
  <br />

  <nav class="nav-links">
    <span><i class="fa-solid fa-user"></i> Olá, {{ user?.name }}</span>

    @if (user?.is_staff == true || user?.is_superuser == true) {
      <a routerLink="/"
        ><i class="fa-solid fa-house"></i> Início</a
      >
      <a routerLink="/enviorement/register"
        ><i class="fa-solid fa-plus"></i> Cadastrar Sala</a
      >
      <a routerLink="/buildings"
        ><i class="fa-solid fa-building"></i> Cadastrar Prédio</a
      >
      <a href="#"><i class="fa-solid fa-chart-line"></i> Relatórios</a>
    } @else {
      <a routerLink="/reservas"
        ><i class="fa-solid fa-house"></i> Início</a
      >
    }
    <a (click)="logout()" class="btn-logout"
        ><i class="fa-solid fa-right-from-bracket"></i> Sair</a
      >
  </nav>
</aside>
